body
{
  font-family: sans-serif;
  background-color: #DDD;
}

body.waiting *
{
  cursor: wait;
}

.maintable
{
  border: 0;
  background-color: #EEE;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.maintable tr, .maintable tr td
{
  border: 0;
}

.maintable tr, .maintable th
{
  vertical-align: top;
}

.loadsave
{
  float: right;
  position: relative;
  right: 10px;
  top: -40px;
  background-color: white;
  padding: 10px;
  margin-bottom: -1.5em;
}

.version
{
  font-size: 8px;
  text-align: right;
  margin-top: 6px;
}

.intro
{
  max-width: 650px;
}

.surface
{
  border: 0;
  padding-right: 30px;
}

.paramtable
{
  border: 0;
  white-space: nowrap;
}

.paramtable tr, .paramtable tr th, .paramtable tr td
{
  border: 0;
}

.paramtable tr th
{
  text-align: right;
}

.paramtable tr td input
{
  width: 75px;
  text-align: right;
}

.paramtable tr.divider td
{
  height: 0.5em;
}

.savePNG
{
  position: relative;
  right: 0px;
  top: 10px;
  margin: 10px;
}

.hdr th
{
  text-align: center !important;
}

@media print {
  button {
    display: none;
  }
}

